.projeto {
    margin-top: 150px;
 
}
#pro {
    margin-left: 100px;

}
.card-box{
   margin: 30px 100px 30px 100px;

   padding: 100px;
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 10px;
    row-gap: 50px;
}

